# Node modules
backend/node_modules/
control-gym/node_modules/
STAFF_API_DOCUMENTATION.md
STAFF_API_TESTING.md
StructureProject.md

# Logs
*.log

# OS files
.DS_Store

# Build outputs
control-gym/ios/build/

# Expo
control-gym/.expo/
control-gym/.expo-shared/

# TypeScript
*.tsbuildinfo

# Misc
.env
backend/.env
control-gym/.env
